<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luruoyang.mapper.admin.DishMapper">
    <insert id="saveDish" parameterType="com.luruoyang.entity.Dish" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into dish
        VALUES (#{id},
                #{name},
                #{categoryId},
                #{price},
                #{image},
                #{description},
                #{status},
                #{createTime},
                #{updateTime},
                #{createUser},
                #{updateUser},
                #{makeTime})
    </insert>
    <update id="updateStatusById">
        update dish
        set status      = #{arg1},
            update_time = #{arg2},
            update_user = #{arg3}
        where id = #{arg0}
    </update>
    <update id="updateById" parameterType="com.luruoyang.dto.DishDTO">
        update dish
        set name=#{name},
            price = #{price},
            image = #{image},
            description = #{description},
            status = #{status},
            category_id = #{categoryId},
            create_time = #{createTime},
            update_time = #{updateTime},
            create_user = #{createUser},
            update_user = #{updateUser},
            make_time = #{makeTime}
        where id = #{id}
    </update>
    <delete id="deleteBatch" parameterType="java.lang.Long">
        delete from dish
        where
        <foreach collection="list" open="id IN (" separator="," close=")" item="dishId">
            #{dishId}
        </foreach>
    </delete>
    <sql id="baseSql">
        category_id as categoryId,
        create_time as createTime,
        update_time as updateTime,
        create_user as createUser,
        update_user as updateUser,
        make_time as makeTime
    </sql>

    <select id="findPage" resultType="com.luruoyang.vo.DishVo" parameterType="com.luruoyang.dto.DishPageDto">
        select d.id as id,
        d.name as name,
        price,
        image,
        description,
        d.status as status,
        c.name as categoryName,
        category_id as categoryId,
        d.create_time as createTime,
        d.update_time as updateTime,
        d.create_user as createUser,
        d.update_user as updateUser,
        make_time as makeTime
        from dish as d left join category c on d.category_id = c.id
        <where>
            <if test="name !=null and name != '' ">
                d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId !=null ">
                and category_id = #{categoryId}
            </if>
            <if test="status !=null ">
                and d.status = #{status}
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.luruoyang.entity.Dish" parameterType="java.lang.Long">
        select id,
        name,
        price,
        image,
        description,
        status,
        <include refid="baseSql"/>
        from dish
        where id = #{id}
    </select>
    <select id="findCount" resultType="java.lang.Long">
        select count(*) from dish
        <where>
            status = #{status} and
            <foreach collection="ids" open="id IN (" separator="," close=")" item="dishId">
                #{dishId}
            </foreach>
        </where>
    </select>

    <resultMap id="disVoMap" type="com.luruoyang.vo.DishVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="makeTime" column="make_time"/>
        <result property="categoryName" column="category_name"/>
        <collection property="flavors" column="id" ofType="com.luruoyang.entity.DishFlavor">
            <id property="id" column="dfId"/>
            <result property="dishId" column="dfDishID"/>
            <result property="name" column="dfName"/>
            <result property="value" column="dfValue"/>
        </collection>


    </resultMap>
    <select id="findByCategoryId" resultMap="disVoMap" parameterType="com.luruoyang.entity.Dish">
        select d.*,
        c.name categoryName,
        df.id dfId,
        df.name dfName,
        df.value dfValue,
        df.dish_id dfDishID
        from dish d
        left join category c on d.category_id = c.id
        left join dish_flavor df on d.id = df.dish_id
        <where>
            <if test="dish.categoryId != null">
                and category_id = #{dish.categoryId}
            </if>
            <if test="dish.status != null">
                and d.status = #{dish.status}
            </if>
        </where>
    </select>
</mapper>