<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luruoyang.mapper.admin.SetmealDishMapper">

    <insert id="saveBatch" parameterType="com.luruoyang.entity.SetmealDish">
        insert into setmeal_dish(id, setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="list" separator="," item="sd">
            (#{sd.id},#{sd.setmealId},#{sd.dishId},#{sd.name},#{sd.price},#{sd.copies})
        </foreach>
    </insert>
    <delete id="deleteSetmealDishBySetmealId" parameterType="java.lang.Long">
        delete from
        setmeal_dish
        where
        <foreach collection="list" open="setmeal_id In (" separator="," close=")" item="setmealId">
            #{setmealId}
        </foreach>

    </delete>
    <select id="findSetmealCountByDishId" resultType="java.lang.Long"
            parameterType="java.lang.Long">
        select count(*) from setmeal_dish
        <where>
            <foreach collection="list" open="dish_id IN (" separator="," close=")" item="dishId">
                #{dishId}
            </foreach>
        </where>
    </select>
    <select id="findDishBySetmealId" resultType="com.luruoyang.vo.DishItemVo" parameterType="java.lang.Long">
        select
            sd.copies,
            d.description,
            d.image,
            d.name
        from setmeal_dish sd
                 left join setmeal s on sd.setmeal_id = s.id
                 left join dish d on sd.dish_id = d.id
        where sd.setmeal_id = #{setmealId}
    </select>
</mapper>